@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* { margin: 0; }

html { font-size: 62.5%; }
body {
    font-family: 'Dosis', sans-serif;
    background-color: #DEE7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: #4F646F;
    text-align: center;
}
    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-top: 6rem;
        text-shadow: -.5rem .5rem .75rem rgba(0, 0, 0, .5);
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

.projects {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects div {
    width: 35rem;
    margin: 0 4rem;
    background-color: #4F646F;
    padding: 6rem 2rem;

    border-radius: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .7);
}
    img {
        width: inherit;
        height: 16rem;
        border-radius: 1.5rem;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);
    }
    h3 {
        margin: 3rem 0;
        color: #DEE7E7;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }
    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        button {
            width: 80%;
            padding: 1.5rem;
            cursor: pointer;
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);

            background-color: #DEE7E7;
            border: none;
            border-radius: 2rem;

            color: #4F646F;
            font-size: 1.75rem;
            font-weight: 700;
        }


@media (max-width: 75em) {
    html { font-size: 56.25%; }
}
@media (max-width: 56.25em) {
    html { font-size: 50%; }
}
