.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);

    position: fixed;
    top: 0;
    left: 0;
   
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include centered;

        display: table;
        width: 75%;
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-land) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        @include respond(tab-port) {
            top: 0;
            width: 100%;
            display: flex;
        }
    }
    @include respond(tab-land) {}
    @include respond(tab-port) {}
    @include respond(phone) {}
    @include respond(big-desktop) {}

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width: 100%;
            margin-top: 100px;
            display: block;
        }
        @include respond(phone) {
            margin-top: 70px;
            text-align: center;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port) { width: 50%; }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;

        @include respond(phone) {
            margin-bottom: 2rem;
            column-count: 1;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }
        &:target &__content {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

    &__close {
        @include respond(tab-port) { margin-top: 100px; }
        @include respond(phone) { margin-top: 70px; }
        
        &:link,
        &:visited {
            display: inline-block;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;

            font-size: 3rem;
            color: $color-grey-dark;
            text-decoration: none;
            line-height: 1;
            transition: all .2s;
        }

        &:hover { color: $color-primary; }
    }
}
