.story {
    width: 75%;
    padding: 6rem;
    padding-left: 9rem;
    margin: 0 auto;
    background-color: rgba($color-white, .4);

    font-size: $default-font-size;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);

    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone) { transform: skewX(0); }


    &__shape {
        width: 15rem;
        height: 15rem;
        position: relative;

        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);

        @include respond(phone) { transform:  translateX(-3rem) skewX(0); }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s;
    }

    &__text {
        transform: skewX(12deg);
        @include respond(phone) { transform: skewX(0); }
    }

    &__caption {
        @include centered;
        transform: translate(-50%, 20%);

        transition: all 0.5s;
        backface-visibility: hidden;
        opacity: 0;

        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}