.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin: -25vh 0 -10rem;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
                    rgba($color-primary-light, 0.8),
                    rgba($color-primary-dark, 0.8)),
                      url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-5deg);
    & > * { transform: skewY(5deg); }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 25rem 0 50rem 0;
    margin-top: -20vh;
}
